.service {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.right-column {
  width: 50%;
  padding-top: 20px;
  margin-left: -10px;
  margin-top: 130px;
}

.training-price {
  color: #b95416;
}
.add-member-btn Button {
 
  border-radius: 15px;
  margin-top: 60px;
  background-color: #201f1f;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
}
.add-member-btn Button:hover {
  background-color: #383431e8;
}

.service-img {
  width: 80%;
  padding-top: 50px;
}
.placeorder {
  padding-bottom: 12rem !important;
}
.placeServiceForm {
  padding-left: 20px;
  padding-right: 10px;
  width: 50%;
  height: 600px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  margin: 50px;
}